<div class="map-dummy" style="
  border-radius: 2px;
  line-height: 150px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  ">
  Map

  <%= field.hidden_field :title %>
</div>
