<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="margin: 0;">

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <%= image_tag(attachments.inline['placard.jpg'].url, width: 700, height: 755) %>
        <div style="width: 700px;">
          <div style="width: 500px; padding: 100px 0 40px; margin: 0 auto;">
            <h1 style="font-size: 10pt; margin: 0; font-family: -apple-system, sans-serif">Greetings from 30 Warren</h1>
            <p style="font-size: 10pt; margin: 0; font-family: -apple-system, sans-serif">Please know we received your inquiry.</p>
            <p style="font-size: 10pt; margin: 0; font-family: -apple-system, sans-serif">We will be in touch soon regarding 30 WARREN.</p>
            <p style="font-size: 10pt; margin: 0; font-family: -apple-system, sans-serif">Exclusive Marketing &amp; Sales Agent: Corcoran Sunshine Marketing Group</p>
          </div>
        </div>
      </td>
    </tr>
  </table>

</body>
</html>
