.section,
.sub-section {
  padding-bottom: 100px;
  position: relative;

  > header {
    position: relative;
    @extend %c4;

    .slick-dots {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    @include margin(bottom, $small_margin);
    color: $headline;
  }
}

.sub-section {
  @extend %clearfix;

  &:last-child {
    padding-bottom: 0;
  }
}
