<% content_for(:page_title, 'New Boutique Tribeca Condominiums for Sale | Press') %>
<% content_for(:page_description, "Read what people are saying about 30 Warren's New Boutique Tribeca Condominiums for Sale") %>

<div class="press-clippings">
  <%= render intersperse_images @press_clippings %>
</div>
