<div class="misc-text">
  <h1>Credits</h1>
  <p>Design by <a target="_blank" href="http://noeassociates.com">No&euml; &amp; Associates</a></p>
  <p>Renderings by M-Prime and Familiar Control</p>
</div>
