<div class="field">
  <%= field.text_field :title, placeholder: 'Title' %>
</div>

<div class="field">
  <%= field.rich_text_area :body, placeholder: 'Body' %>
</div>

<div class="field">
  <%= field.check_box :visible %>
  <%= field.label :visible, 'Display on page?' %>
</div>
