<h2>Legal Disclaimer</h2>

<p>All images used herein are computer and artist renderings which reflect the planned scale and spirit of the Building. Artist and computer renderings of the interior decorations, finishes, fixtures, appliances and furnishings are provided for illustrative purposes only. Sponsor makes no representation or warranties except as may be set forth in the Offering Plan.</p>

<p>The complete offering terms are in an offering plan available from the Sponsor.  File # CD15-0080.  Sponsor Name:  Cape Church Associates, LLC, c/o Cape Advisors, Inc. 483 Broadway, 5th Floor, New York, NY  10013. Equal Housing Opportunity.</p>

<p>Sponsor reserves the right to make substitutions of material, equipment, fixtures, finishes and appliances in accordance with the terms of the Offering Plan.  With regard to exposures and views, Sponsor makes no representation that future construction in the neighborhood surrounding the Condominium will not result in the obstruction of the views from any windows and/or Terraces.</p>

<p>With regard to the “Partner” establishments contained on this website, Sponsor makes no guarantees that any such program will remain in effect or any representations  as to the quality or price of the services offered. Purchasers  should not rely on the existence of any program in making a determination to purchase a Unit at the Building</p>

<h2>Cape Church Associates, LLC Privacy Policy</h2>

<p>Cape Church Associates, LLC (referred to herein as "Cape Church Associates"," "we," "us" or "our") is committed to protecting the privacy of the users of our website, 30 Warren.com (the "Website"). This statement discloses our privacy practices. The purpose of this statement is to inform you:</p>

<ul>
  <li>What kinds of information we collect from users of the Website and how the information is used by us.</li>
  <li>Whether we disclose any user information to third parties.</li>
  <li>How you can access, update or delete any information that we collect about you.</li>
  <li>The security procedures we use to protect your personal information.</li>
  <li>By using the Website, you are agreeing to the Cape Church Associates Privacy Policy. We reserve the right to change, modify, add, or remove portions of the Cape Church Associates Privacy Policy at any time. Please check this page periodically for changes.</li>
</ul>

<p>If you have any questions about the Cape Church Associates Privacy Policy, please email us at <%= mail_to "info@30Warren.com" %>.</p>

<h2>How We Collect Information</h2>

<p>You can visit the Website without revealing any personal information. Our web servers collect the Internet Protocol addresses, but not the email addresses of visitors. This information can measure the number of visits, average time spent on the Website, pages viewed, and other such statistics.</p>

<p>In addition, you may be asked for information that identifies you, including your name, email address, mailing address, zip code, telephone number and fax number (collectively, "Personal Information"). You may also elect to provide Personal Information to us by sending or responding to emails regarding certain listings for the Cape Church Associates project offered on the Website.</p>

<h2>How We Use and Disclose Information</h2>

<p>We collect, generate, retain and use your Personal Information for our own internal purposes in connection with the facilitation, recording and processing of any requests, communications, or interactions you may have with the Website.</p>

<p>In addition, your Personal Information may be used by us to provide you with information regarding the Cape Church Associates project.</p>

<h2>Cookies</h2>

<p>Consistent with standard practices in the Internet industry, the Website collects information through a variety of technical methods, including cookies and web beacons. In addition, also consistent with standard practices in the Internet industry, you may occasionally receive cookies from third parties to which you link from the Website. If you prefer, you may set your browser to ask for your permission before you receive a cookie. We do not control these third party cookies, and they are not subject to the Cape Church Associates Privacy Policy.</p>

<p>Cookies are pieces of information that a website sends to your computer while you are viewing a site. Web beacons are small pieces of data that are embedded in images on the pages of sites. Cookies, web beacons and other technical methods may involve the transmission of information either directly to us or to another party authorized by us to collect information on our behalf.</p>

<p>We may use the information collected through these technical methods for purposes of the Cape Church Associates project, including delivering content, tracking and enhancing our users' experience on the Website. For example, when you return to the Website after logging in, cookies provide information to the Website so that the Website will remember who you are. We also may use technical methods to analyze the traffic patterns on the Website, such as the frequency with which our users visit various parts of the Website. In HTML emails that we send our users, we may use technical methods for a number of purposes, including: to determine whether our users have opened or forwarded those emails and/or clicked on links in these emails, and to determine whether a visitor has made an inquiry or [purchase] in response to a particular email. These technical methods may enable us to collect and use Personal Information.</p>

<h2>Information Sharing and Disclosure</h2>

<p>When you request information, we need to know your name, email address and mailing address. This allows us to process and fulfill your request. We do not sell, trade, or rent your personal information to others. We may provide aggregate statistics about our customers, sales, traffic patterns, and information related to the Website to reputable third-party vendors, but these statistics will include no Personal Information.</p>

<p>We may also disclose Personal Information about you upon request by the government, in response to a court order, when required by law or when we believe in good faith such disclosure is required by law, to enforce the Cape Church Associates Privacy Policy, terms and conditions or other agreements on the Website, upon your request, or to contact, identify or bring legal action against someone who may be causing injury to or interference with our or others' rights or property, including, but not limited to, claims for infringement of intellectual property.</p>

<h2>Data Security</h2>

<p>Data security is critical to us and thus all Personal Information is held in a secured database. While it is impossible to guarantee the complete security of any computer system and the data contained therein, the operators of the Website are required to maintain and implement robust security policies and procedures that combine with available technologies in accordance with prevailing industry standards, all of which are designed to protect the confidentiality, integrity, and availability of your Personal Information. To the extent we are provided with social security numbers or personal financial information, we comply with all applicable regulations regarding the confidentiality and safe disposal of such information.</p>

<h2>No Liability for Acts of Third Parties</h2>

<p>Although we will use all reasonable efforts to safeguard the confidentiality of Personal Information collected on the Website, subject to the provisions of the Cape Church Associates Privacy Policy, transmissions made by means of the Internet cannot be made absolutely secure. We will have no liability for disclosure of Personal Information due to errors in transmission, unauthorized acts of third parties or through the use of third party cookies, including those of any advertisers when you view or click on their advertisements. Once you leave the Website, you will be subject to third party privacy policies, which may differ significantly from the Cape Church Associates Privacy Policy.</p>

<h2>Children's Online Privacy</h2>

<p>The Website is not intended for use by children under 13. As part our compliance with the Children's Online Privacy Protection Act, we do not knowingly collect names and email addresses from children under 13. If we become aware that we have unknowingly collected Personal Information from a child under the age of 13, we will make reasonable efforts to delete such information from our database.</p>

<p>Children should check with their parents or guardian before entering Personal Information on any website, and we urge parents and guardians to discuss with their kids restrictions regarding the online release of Personal Information to anyone they don't know.</p>

<h2>Accessing, Updating, or Deleting Information Collected About You By SDP Development</h2>

<p>If you wish to access, update, or delete Personal Information or preferences, please send an email to <%= mail_to "info@30Warren.com" %>. Please be aware, however, that we cannot always ensure that such corrections or deletions will immediately be made in our database.</p>

<p>The complete terms are in an offering plan available from Sponsor, Cape Church Associates, LLC, c/o Cape Advisors, Inc. 483 Broadway, 5th Floor, New York, NY 10013. The artist representations and interior decorations, finishes, appliances and furnishings are provided for illustrative purposes only. Computer renderings reflect the planned scale and spirit of 30 Warren. Sponsor reserves the right to make substitutions of materials, equipment, fixtures and finishes in accordance with the terms of the offering plan.</p>

<p>Floor plan dimensions are approximate and subject to normal construction variances and tolerances. Square footage exceeds the usable floor area. Sponsor reserves the right to make changes in accordance with the terms of the Offering Plan. Plans and dimensions may contain minor variations from floor to floor.</p>

<h2>Equal Housing Opportunity.</h2>
