<div class="legalese">
  <h2>Legal Disclaimer</h2>

  <div class="legal-text">
    <a class="legal-button close-button" href="#"><%= image_tag('close-button@2x.gif', height: 30, width: 30) %></a>

    <p><%= t('legal.terms') %></p>
    <p><%= t('legal.dimensions') %></p>

  </div>
</div>
