<div id="lightbox" style="display: none;">
  <div class="lightbox-title"></div>
  <div id="lightbox-navigation">
    <a href="#" id="close-lightbox"></a>
    <div class="slick-counter"></div>
  </div>
  <div id="lightbox-slides"></div>
</div>
