<%= render "contact_details" %>
<%= render "colophon" %>

<div class="design-credits">
  Design by <a href="http://noeassociates.com" target="_blank">Noë &amp; Associates</a><br>
  Built on <a href="http://propertyplatform.com" target="_blank">Property Platform</a><br>
  Renderings by M-Prime and Familiar Control
</div>
