*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none;
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  position: relative;
  font-family: $sans;
  background: $background;
  @extend %regular;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  @extend %regular;
}

div, ul { vertical-align: top; }
ul { list-style-position: outside; }

p {
  margin-bottom: 1.2em;
  &:last-child { margin: 0; }
}

a {
  text-decoration: none;
  color: $headline;
  transition: color 300ms ease, border-color 300ms ease;
}

html,
body,
.wrapper {
  height: 100%;
}

img {
  display: block;
}
