%whitespacefix {
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}

%inlineblock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: 0;
}

%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

%header-padding {
  padding: $gutters 0;
}
