<div class="project-colophon">
  <div class="sales-credits">
    <div class="development-group">
      A Development by Cape Advisors
    </div>

    <div class="marketing-group-role">
      Exclusive Marketing and Sales Agent
    </div>

    <div class="marketing-group">
      Corcoran Sunshine
    </div>
  </div>
</div>
