<div class="contact-details">
  <div class="phone-number">
    <%= tel_to t('sales.phone_number') %>
  </div>

  <div class="sales-office">
    <h1>Presentation Center</h1>

    <%= link_to 'https://www.google.com/maps/place/99+Hudson+St,+New+York,+NY+10013/@40.7191069,-74.0112153,17z/data=!4m5!3m4!1s0x89c25a1fd6da5be9:0x68bea9aad18d4a47!8m2!3d40.7191069!4d-74.0090266', :target => "_blank" do %>
      <div class="street">
        99 Hudson Street, 8th Floor
      </div>

      <div class="city">
        New York, NY 10013
      </div>
    <% end %>
  </div>
</div>
